
body{
  background-image:url(https://images.pexels.com/photos/169789/pexels-photo-169789.jpeg?auto=compress&cs=tinysrgb&w=600) ;
  background-repeat:round;
  background-position: center;
  
}
#characters-container {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: black; 
    margin-top:50px ;
    margin-bottom: 50px;
    margin-left: 50px;
    margin-right:50px ;
    

  }

  
  .character {
    width: 200px;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
  }
  
  
  
  .character img {
    width: 100%;
  }
  

  
  .character h3 {
    font-size: 20px;
    font-family: monospace;
    color: burlywood;
  }

  
  .character p {
    font-size: 16px;
    font-family:monospace;
    color: white;

  }

  

  .navigation{
    text-align:start;
    text-decoration: dashed;


  }

  h1{
    text-align: center;
    font-family:monospace;
    background-color:burlywood;
    color:darkslategray;
    
  }
  .div1{
    text-align: center;
    font-family: monospace;
    margin: 20px;
    padding: 10px;

  }

  footer{
    font-family: monospace;
    font-weight:bolder;
    text-align: center;
    background-color: black;
    color: burlywood;
    

  }

  i{
    color: grey;
    justify-content: space-between;
    padding: 30px;
    text-align: center;
}

/* #background-video {
  position: fixed;
  top: 0;
  left: 0;
  width: 200%;
  height: 250%;
  z-index: -1;
} */
