Style the characters container
/* body{
    background-image:url(https://images.pexels.com/photos/1631677/pexels-photo-1631677.jpeg?auto=compress&cs=tinysrgb&w=600) ;
  } */
  /* #characters-container {
      display:flex;
      flex-wrap: wrap;
      justify-content: space-around; */
      /* background-color: burlywood; */
      
  
    }
    
    /* Style the character elements */
    
    /* .character {
      width: 200px;
      margin: 10px;
      border: 1px solid black;
      padding: 10px;
    } */
    
    /* Style the character images */
    
    /* .character img {
      width: 100%;
    } */
    
    /* Style the character names */
    
    /* .character h3 {
      font-size: 20px;
      font-family: monospace;
    } */
    
    /* Style the character titles and families */
    
    /* .character p {
      font-size: 16px;
      font-family:monospace;
  
    }
   */
    
  
    /* .navigation{
      text-align:start;
      text-decoration: dashed;
  
  
    } */
  
    /* h1{
      text-align: center;
      font-family:monospace;
      background-color:burlywood;
      color:darkslategray;
      
    } */
    /* .div1{
      text-align: center;
      font-family: monospace;
      margin: 20px;
      padding: 10px;
      text-decoration: chartreuse;
  
    } */
  
    /* footer{
      font-family: monospace;
      font-weight:bolder;
      text-align: center;
      background-color: burlywood;
      
  
    } */
  
    /* i{
      color:darkslategray;
      justify-content: space-between;
      padding: 30px;
      text-align: center;
  } */
  